<h1>Hello!</h1>
<h1>Hello! - Login</h1>
<form method="post" action="/users">


  <label for "">Email</label>
  <input type="text" name="email"

  <label for "">Name</label>
  <input type="text" name="name"

  <label for ""> Password</label>
  <input type="password" name="password">


  <label for "">Profile Image</label>
  <input type="text" name="user_img">


  <button> Sign-Up! </button>
  
</form>
         